html{
    height: 100%;
}

body{
    background-color: #2a2b30;
    background-image: url(Img/1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    
}

header{
    background-color: #1d3557;
    height: 140px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px;
    position: sticky;
    top: 0px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    height: 800px;
    overflow: scroll;
}

nav{
    width: 1004px;
    background-color:#457b9d;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}
main{
    padding: 50px 50px 20px 50px;
    text-align: center;
    background-color:  #f1faeed8; 
    height: 750px;
    border-radius: 10px;
    margin-top: 10px;
}

footer{
    background-color: #e63946;  
    border-radius: 10px;
    margin-top: 10px;
}

img{
    height: 90px;
}

h1{
    color: #1d3557;
    font-size: 65px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

p{
    color: #1d3557;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

a{
    color: #1d3557;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
    /* text-decoration: none; */
}

nav a{
    text-decoration: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px
}

footer p{
    font-size: 18px;
    text-align: center;
    color: #f1faee; 
    padding-top: 20px;
    padding-bottom: 20px;
}